.table{
    border: 1px solid black;
}
.td:hover{
    background-color: white;
}

.td{
    border: 1px solid #333;
    padding: 10px;
    /* background-color: darkgray; */
}
button{
    padding: 10px;
}